.vs/
CMakeFiles/
Debug/
Release/
LodBuild/
obj/
CMakeCache.txt
install_manifest.txt
compile_commands.json
Makefile
build.ninja
H3LandscapeCMake.*
/Win32
/*.cmake
/*.filters
/*.vcxproj
.ninja*
*.7z
*.aps
*.lib
*.exe
*.user
*.build