.vs/
CMakeFiles/
Debug/
Release/
LodBuild/
CMakeCache.txt
install_manifest.txt
compile_commands.json
Makefile
H3LandscapeCMake.sln
/Win32
/*.cmake
/*.filters
/*.vcxproj
*.7z
*.aps
*.lib
*.exe
*.user
*.build