[submodule "NH3API"]
	path = NH3API
	url = https://github.com/void2012/NH3API.git
	branch = main
[submodule "Patcher/Win32EXE_Lib"]
	path = Patcher/Win32EXE_Lib
	url = https://github.com/Paracelsus83/Win32EXE_Lib
	branch = main
