<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="H3L_Base_Components">
			<Component Guid="1B016507-1FBA-49F6-B39F-6665B11A5900" Directory="PluginDir">
				<File Name="$(var.Landscape.TargetFileName)" Source="$(var.Landscape.TargetPath)" />
				<File Name="$(var.Landscape.TargetName).lod" Source="$(var.SolutionDir)\LodBuild\$(var.Landscape.TargetName).lod" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="H3L_HotA_Components">
			<Component Guid="*" Directory="INSTALLFOLDER">
				<File Id="PatcherExe" Name="$(var.Patcher.TargetFileName)" Source="$(var.Patcher.TargetPath)" KeyPath="yes" />
				<RemoveFile Name="H3HotA_HD_L.exe" On="uninstall" />
			</Component>
			<Component Guid="*" Directory="DesktopFolder" Condition="INSTALL_PATH_HOTA">
				<RegistryValue Root="HKCU" Key="Software\New World Computing\H3Landscape" Name="HotaShortcut" Type="integer" Value="1" KeyPath="yes" />
				<Shortcut Id="DesktopShortcut"
						  Name="Heroes III HotA with H3Landscape"
						  Target="[INSTALLFOLDER]H3HotA_HD_L.exe"
						  WorkingDirectory="INSTALLFOLDER" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
